

.cerrarCarro{
    background-color: white;
    border: none;
    color: grey;
}
.formato{
    font-size: 13px;
}

.formatoPrecio{
    color: grey;
    font-size: 14px;
}

.subtotal{
    font-weight: bold;
    color: grey;
    font-size: 14px;
}

.Table{
    font-size: 10px;
}

.precioFinal{
    font-weight: bold;
    font-size: 15px;
}

tr{
    padding:10px;
    align-items: center;
}

.seguirComprando{
    border: none;
    margin: 20px;
    width: 200px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 186, 186);
    padding:10px;
}


.seguirComprando:hover{
    cursor: pointer;
    background-color: white;
    filter: contrast(40%) brightness(110%);
}

.iconoCarro{
    margin-right: 20px;
    font-size: 25px;
    margin-bottom: 20px;
}

.iconoCarro:hover{
    cursor: pointer;
}

.iconoTrash{
    font-size: 18px;
}

.iconoTrash:hover{
    cursor: pointer;
}

.casillaIcono{
    width: fit-content;
    align-items: right;
}

.tramitarPedido{
    border: none;
    margin: 20px;
    width: 200px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 130, 130);
    padding:10px;
}

.tramitarPedido:hover{
    cursor: pointer;
    background-color: white;
    filter: contrast(40%) brightness(110%);
}