.guardar{
    border: none;
    margin-top: 20px;
    width: 200px;
    height: 35px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 186, 186);
    padding:10px;
}


.guardar:hover{
    cursor: pointer;
    background-color: white;
    filter: contrast(40%) brightness(110%);
}

.cancelar{
    border: none;
    width: 200px;
    height: 35px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 130, 130);
    padding:10px;
}

.cancelar:hover{
    cursor: pointer;
    background-color: white;
    filter: contrast(40%) brightness(110%);
}

.subirFotoNueva{
    width: 200px;
}

.margen{
    margin-top: 30px;
}

.subirFotoNueva:active{
    filter: drop-shadow(2px 2px 5px rgb(80, 80, 80))
}