body{
    background-color: rgb(236, 236, 236);
    font-family:Arial, Helvetica, sans-serif;
}

.articulo{
    margin: 20px;
    border: none;
   border-radius: 0px 0px 0px 0px;
   background-color: rgb(236, 236, 236);

}

.card{
   padding: 25px;
}

.card img{
    border-radius:0px 0px 0px 0px;
}

.tituloPagina{
    margin-top: 20px;
    color:rgb(80, 80, 80);
}

.cestaVacia{
    color:rgb(155, 154, 154);
}
