.eliminar{
    border: none;
    margin: 20px;
    width: 200px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 130, 130);
    padding:10px;
}

.eliminar:hover{
    cursor: pointer;
    background-color: white;
    filter: contrast(40%) brightness(110%);
}

.cancelar{
    border: none;
    margin: 20px;
    width: 200px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 186, 186);
    padding:10px;
}


.cancelar:hover{
    cursor: pointer;
    background-color: white;
    filter: contrast(40%) brightness(110%);
}