
body{
    background-color: rgb(236, 236, 236);
    font-family:Arial, Helvetica, sans-serif;
}

.tamanyos{
    border: none;
    margin: 20px;
    border-radius: 0px 0px 0px 0px;
    width: 80px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tamanyos:hover{
    border: 2px solid grey;
}

.activo{
    border: none;
    margin: 20px;
    border-radius: 0px 0px 0px 0px;
    width: 80px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 157, 157);
}

.btn-group{
    flex-wrap: wrap
}

.precioImagen{
    color: grey;
    font-size: 15px;
}

.subtotal{
    font-size: 20px;
}

.boton{
    border: none;
    width: 100%;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 186, 186);
    padding:10px;
}

.botonModal{
    border: none;
    margin: 20px;
    width: 150px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 186, 186);
    padding:10px;
}


.botonModal:hover{
    cursor: pointer;
    background-color: white;
    filter: contrast(40%) brightness(110%);
}

.boton:hover{
    cursor: pointer;
    background-color: white;
    filter: contrast(40%) brightness(110%);
}