
.iconoBasura{
    font-size: 18px;
    color:black;
}

.iconoEditar{
    font-size: 22px;
    color:black;
}

.iconoBasura:hover{
    color:grey;
    cursor: pointer;
}
.iconoEditar:hover{
    color:grey;
}

.modal-content{
    border-radius: 0px;
}

.botonBack{
    border: none;
    margin: 20px;
    width: 150px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 186, 186);
    padding:10px;
    color: black;
    text-decoration: none;
}

.botonBack:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    filter: contrast(40%) brightness(110%);
}