

.boton{
    border: none;
    margin: 20px;
    width: 150px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 186, 186);
    padding:10px;
}


.boton:hover{
    cursor: pointer;
    background-color: white;
    filter: contrast(40%) brightness(110%);
}