.row{
    --bs-gutter-x: 0rem;
}
body{
    background-color: rgb(236, 236, 236);
    font-family:Arial, Helvetica, sans-serif;
}

.pointer {
    cursor: pointer;
}

.cestaCompra {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    font-size: 25px;
}

.cestaCompra:hover {
    cursor: pointer;
    color: black;
}

.cantidadCarro{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-size: 13px;
    background-color: rgb(190, 91, 91);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control{
    border: none;
    width: 250px;
    border-radius: 0px;
}


.form-control:focus{
    border: none;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(170, 170, 170, 0.8);
    outline: 0 none;
}

.form-select{
    border:none;
    width: 250px;
    border-radius: 0px;
}


.form-select:focus{
    border-color:none;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(170, 170, 170, 0.8);
  outline: 0 none;
}

.opcions:hover {
    color: black !important;
    background: rgb(187, 186, 186) !important;
}